<p class="h3" style="margin: 40px 0;">Thanks for signing up! It’s early users like you who will make this special. We are so grateful for you. We encourage you to share the signup link with your fellow sports fans. Stay tuned for our official launch in the coming months ahead!</p>

<ul class="list-inline" style="margin: 40px 0;">
  <li>
    <%= link_to external_url(t('social.facebook.share_url', u: request.base_url)), class: 'btn btn-facebook' do %>
      <%= icon('facebook') %> Share on Facebook
    <% end %>
  </li>
  <li>
    <%= link_to external_url(t('social.twitter.share_url'), text: t('social.twitter.share_message', u: request.base_url)), class: 'btn btn-twitter' do %>
      <%= icon('twitter') %> Share on Twitter
    <% end %>
  </li>
</ul>
