<p class="st-lead">
  <%= image_tag 'welcome/star.png', alt: 'star' %>
  We’re bringing something special to female sports fans
  <%= image_tag 'welcome/star.png', alt: 'star' %>
</p>

<%= render 'users/form', resource: @user %>
